	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	body {
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 22px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}
	
	h2 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}
	
	h3 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 15px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body {
		margin: 0 15px 0 15px;
	}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	.city {
		float: left;
		margin: 10px;
		padding: 10px;
		max-width: 300px;
		height: 300px;
		border: 1px solid black;
	}   

	#container {
		background-color: rgba(255, 255, 255, 0.5);
		max-width:350px;
		height: 350px;
		margin-top: 150px;
		margin-bottom: 150px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
	}
	
	#wenks {
		width: 200px;
		height: 200px;
		margin-right: auto;
		margin-left: auto;
	}
	
	input[type=text]:focus {
		border: 1px solid #555;
		background-color: rgba(255, 255, 255, 0);
	}
	
	input[type=password]:focus {
		border: 1px solid #555;
		background-color: rgba(255, 255, 255, 0);
	}
	
	input[type=button], input[type=submit], input[type=reset] {
		background-color: #555;
		border: none;
		color: white;
		padding: 8px 70px 8px 70px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
	}
	
	#user {
		background-color: rgba(255, 255, 255, 0.5);
		background-image: url(<?=base_url()?>img/user.png);
		background-size: 20px 20px;
		background-repeat: no-repeat;
		padding-left: 22px;
	}
	
	#pass {
		background-color: rgba(255, 255, 255, 0.5);
		background-image: url(<?=base_url()?>img/lock.png);
		background-size: 22px 22px;
		background-repeat: no-repeat;
		padding-left: 22px;
	}